<div>
    <header class="home-card-header">
        <mat-card class="home-card">
            <mat-card-content class="home-card-contents">
                <mat-card-content>
                    <mat-card-title class="mat-h1">Create and share your supervised models</mat-card-title>
                    <p class="mat-h2">Share among others and help other with supervised machine learning</p>
                    <p></p><br />
                </mat-card-content>
                <br />
                <mat-card-content>
                    <button routerLink="/Register" mat-raised-button color="default">Register now</button>
                </mat-card-content>
            </mat-card-content>
        </mat-card>
    </header>
    <div class="container">
        <!-- Add content: Introduction -->
    </div>
</div>