<div *ngIf="issue != undefined && tensorModel != undefined">
    <div class="container">
        <div class="content-item">
            <div class="issue-form">
                <form [formGroup]="issueForm" (ngSubmit)="issueForm.valid && onSubmit()">
                    <mat-card [class.mat-elevation-z2]="true">
                        <h1>Update issue</h1>
                        <mat-card-content>
                            <div class="form-group">
                                <mat-form-field appearance="fill">
                                    <mat-label>Title</mat-label>
                                    <input matInput type="text" formControlName="title" />
                                    <mat-error *ngIf="issueForm.get('title')!.errors && issueForm.get('title')!.touched">title is required.
                                    </mat-error>
                                    <mat-error *ngIf="issueForm.get('title')!.errors && issueForm.get('title')!.dirty">title is not valid.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field appearance="fill">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput type="text" formControlName="description"></textarea>
                                    <mat-error *ngIf="issueForm.get('description')!.errors && issueForm.get('description')!.touched">description is required.
                                    </mat-error>
                                    <mat-error *ngIf="issueForm.get('description')!.errors && issueForm.get('description')!.dirty">description is not valid.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <button type="button" routerLink="/{{tensorModel.user.username}}/TensorModels/{{tensorModelId}}/Issues/{{issueId}}"
                                    mat-raised-button>Cancel</button>
                                <button type="submit" [disabled]="!issueForm.valid" mat-raised-button color="accent">Update</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
        </div>
    </div>
</div>